
db/FiltrosImagenARM.map_bb.logdb
db/prev_cmp_FiltrosImagenARM.qmsg
db/top_module.(0).cnf.cdb
db/top_module.(0).cnf.hdb
db/top_module.(1).cnf.cdb
db/top_module.(1).cnf.hdb
db/top_module.(10).cnf.cdb
db/top_module.(10).cnf.hdb
db/top_module.(11).cnf.cdb
db/top_module.(11).cnf.hdb
db/top_module.(12).cnf.cdb
db/top_module.(12).cnf.hdb
db/top_module.(13).cnf.cdb
db/top_module.(13).cnf.hdb
db/top_module.(14).cnf.cdb
db/top_module.(14).cnf.hdb
db/top_module.(15).cnf.cdb
db/top_module.(15).cnf.hdb
db/top_module.(16).cnf.cdb
db/top_module.(16).cnf.hdb
db/top_module.(2).cnf.cdb
db/top_module.(2).cnf.hdb
db/top_module.(3).cnf.cdb
db/top_module.(3).cnf.hdb
db/top_module.(4).cnf.cdb
db/top_module.(4).cnf.hdb
db/top_module.(5).cnf.cdb
db/top_module.(5).cnf.hdb
db/top_module.(6).cnf.cdb
db/top_module.(6).cnf.hdb
db/top_module.(7).cnf.cdb
db/top_module.(7).cnf.hdb
db/top_module.(8).cnf.cdb
db/top_module.(8).cnf.hdb
db/top_module.(9).cnf.cdb
db/top_module.(9).cnf.hdb
db/top_module.cbx.xml
db/top_module.cmp.rdb
db/top_module.cmp_merge.kpt
db/top_module.hier_info
db/top_module.hif
db/top_module.lpc.html
db/top_module.lpc.rdb
db/top_module.lpc.txt
db/top_module.map.ammdb
db/top_module.map.bpm
db/top_module.map.cdb
db/top_module.map.hdb
db/top_module.map.kpt
db/top_module.map.qmsg
db/top_module.map.rdb
db/top_module.map_bb.cdb
db/top_module.map_bb.hdb
db/top_module.pre_map.hdb
db/top_module.root_partition.map.reg_db.cdb
db/top_module.rtlv.hdb
db/top_module.rtlv_sg.cdb
db/top_module.rtlv_sg_swap.cdb
db/top_module.sld_design_entry_dsc.sci
db/top_module.smart_action.txt
db/top_module.tis_db_list.ddb
db/top_module.tmw_info
db/top_module_partition_pins.json
incremental_db/compiled_partitions/top_module.db_info
incremental_db/compiled_partitions/top_module.root_partition.map.cdb
incremental_db/compiled_partitions/top_module.root_partition.map.dpi
incremental_db/compiled_partitions/top_module.root_partition.map.hbdb.cdb
incremental_db/compiled_partitions/top_module.root_partition.map.hbdb.hb_info
incremental_db/compiled_partitions/top_module.root_partition.map.hbdb.hdb
incremental_db/compiled_partitions/top_module.root_partition.map.hbdb.sig
incremental_db/compiled_partitions/top_module.root_partition.map.hdb
incremental_db/compiled_partitions/top_module.root_partition.map.kpt
incremental_db/README
output_files/top_module.done
output_files/top_module.flow.rpt
output_files/top_module.map.rpt
output_files/top_module.map.smsg
output_files/top_module.map.summary
db/FiltrosImagenARM.quiproj.10004.rdr.flock
# A gitignore for Altera Quartus II that tries to ignore almost all of the
# automatically Quartus-generated files. This primarily leaves the project,
# settings, source, and constraint files to be added. The files ignored do not
# include the bulk of the MegaFunction Wizard generated files which enables
# a cloned repository to be used (usually) immediately without regenerating
# Altera IP blocks.

# Need to keep all HDL files and timing constraint files
# *.vhd
# *.v
# *.sdc

# ignore Quartus II generated folders
*_sim
db
greybox_tmp
incremental_db
simulation
testbench
timing

# ignore Quartus II generated files
*_generation_script*
*_inst.vhd
*.bak
*.cmp
*.done
*.eqn
*.hex
*.html
*.jdi
*.jpg
*.mif
*.pin
*.pof
*.ptf.*
*.qar
*.qarlog
*.qws
*.rpt
*.smsg
*.sof
*.sopc_builder
*.summary
*.tcl
*.txt # Explicitly add any text files used
*~
*example*
*sopc_*
PLLJ_PLLSPE_INFO.txt # The generated PLL specification file
